<ion-view view-title="{{pockets.name}}">
  <ion-content class="padding" style="text-align:center;">
    <br><div style="text-align:center;"><h3>{{pockets.wallet.balance}} BTC</h3></div>
    <div><h4>Parent: {{pockets.parent.name}}</h4></div>
    <div><h4>Ratio: {{pockets.level_ratio*100}}%</h4></div>
    <div style="text-align:center;">
      <qrcode></qrcode><br>
      <button class="btn btn-lg btn-danger button-positive" ng-click="spendDialog()">SPEND</button>
    </div>
  </ion-content>
</ion-view>
