<ion-view view-title="Choose a persona">
  <ion-content>
    <div class="list card">
      <div class="item item-divider" ng-click="choosePersona('student')">Student</div>
      <div class="item item-body">
        <div>
          <ul>
            <li>Dirt poor</li>
            <li>Needs to pay rent</li>
            <li>Saving for a new TV</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="list card">
      <div class="item item-divider" ng-click="choosePersona('single-parent')">Single parent</div>
      <div class="item item-body">
        <div>
          <ul>
            <li>Kindergarten</li>
            <li>Needs to pay rent</li>
            <li>Saving for a house</li>
          </ul>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
