<ion-view view-title="Pockets">
  <ion-content class="padding">
    <div style="text-align:left;padding-top:50px;">
      <h3>Welcome to Pockets</h3><br>

      <p class="lead">
        Pockets help you manage your personal bitcoin economy by helping you create a collection of hierarchical wallets
        and
        define relationships and rule sets between them.<br><br>
      </p>

      <div style="text-align: center;padding-top:20px;">
        <button class="btn btn-lg btn-primary button-positive" ng-click="start()">START</button>
      </div>
    </div>
  </ion-content>
</ion-view>
